<main id="main" class="main">

  <div class="pagetitle">
    <h1>Add Category</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Category</li>
        <li class="breadcrumb-item active">Add Category</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="card glass-blur">
    <div class="card-body">
      <section class="section">
        <div class="row">
          <div class="col-md-6">
            <div class="row p-5">
              <form action="/admin/addcategory" method="post">
                <div class="form-group">
                  <label
                    for="exampleInputEmail1"
                    style="font-size:x-large;color: #FAC564;"
                  >Add category</label>
                  <input
                    type="text"
                    class=""
                    id="category"
                    name="catname"
                    placeholder="Enter new Category"
                    required
                  />

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            {{!-- <div class="row p-5">
      <form action="/admin/addsubcategory" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1" style="font-size:x-large;color: brown;">Add Sub Category</label>
                <br>
                <label>Select Category</label>
                <select name="category" id="categorysubcategory">
                    {{#each listCategory}}
                    <option>{{this.catname}}</option>
                    {{/each}}
                </select><br>
                <input type="text" class="form-control" id="subcategory" name="subcategory" placeholder="Enter New Sub Category">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> --}}
          </div>
        </div>
      </section>
    </div>
  </div>

</main><!-- End #main -->