<div class="row my-5">
  <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="row glass-blur py-5 mb-5">
        
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <form action="/add-address" id="registration_form" method="post">
            <div class="row">
                <div>
                    <!-- Billing Details -->
                    <div class="billing-details" style="width: 65%;margin: auto;">
                        <div class="section-title">
                            <h3 class="title">Add address</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                        <div class="form-group">
                            <span class="error_form" id="fname_error_message"></span>
                            <input class="input" type="text" name="firstname" placeholder="First Name" id="form_fname">
                        </div>
                        </div>
                         <div class="col-lg-6">
                        <div class="form-group">
                            <span class="error_form" id="lname_error_message"></span>

                            <input class="input" type="text" name="lastname" placeholder="Last Name" id="form_sname">

                        </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                        <div class="form-group">
                             <span class="error_form" id="email_error_message"></span>
                            <input class="input" type="email" name="email" placeholder="Email" id="form_email">
                        </div>
                        </div>
                         <div class="col-lg-6">

                        <div class="form-group">
                            <span class="error_form" id="address_error_message"></span>
                            <input class="input" type="text" name="address" placeholder="Address" id="address">
                        </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                        <div class="form-group">
                            <span class="error_form" id="city_error_message"></span>
                            <input class="input" type="text" name="city" placeholder="City" id="city">
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group">
                            <span class="error_form" id="country_error_message"></span>
                            <input class="input" type="text" name="country" placeholder="Country" id="country">
                        </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                        <div class="form-group">
                            <span class="error_form" id="zipcode_error_message"></span>
                            <input class="input" type="text" name="zipcode" placeholder="ZIP Code" id="zipcode">
                        </div>
                        </div>
                         <div class="col-lg-6">
                        <div class="form-group">
                             <span class="error_form" id="mob_error_message"></span>
                            <input class="input" type="tel" name="tel" placeholder="Telephone" id="form_mob">
                        </div>
                        </div>
                        </div>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>

                        <button type="submit" class="btn btn-warning">Add Address</button>
                    </div>
                </div>
        </form>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<style>
  .error_form {
    color: red;
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $("#fname_error_message").hide()
    $("#lname_error_message").hide()
    $("#email_error_message").hide()
    $("#mob_error_message").hide()
    


    var error_fname = false;
    var error_lname = false;
    var error_email = false;
    var error_mobno = false;
    

    $("#form_fname").focusout(function () {
        check_fname();
    });
    $("#form_sname").focusout(function () {
        check_sname();
    });
    $("#form_email").focusout(function () {
        check_email();
    });
    $("#form_mob").focusout(function () {
        check_mob();
    });
    

    function check_fname() {
        var pattern = /^[a-zA-Z]*$/;
        var fname = $("#form_fname").val();
        if (pattern.test(fname) && fname !== '') {
            $("#fname_error_message").hide();
            $("#form_fname").css("border-bottom", "2px solid #34F458");
        } else {
            $("#fname_error_message").html("Should contain only Characters");
            $("#fname_error_message").show();
            $("#form_fname").css("border-bottom", "2px solid #F90A0A");
            error_fname = true;
        }
    }

    function check_sname() {
        var pattern = /^[a-zA-Z]*$/;
        var sname = $("#form_sname").val()
        if (pattern.test(sname) && sname !== '') {
            $("#sname_error_message").hide();
            $("#form_sname").css("border-bottom", "2px solid #34F458");
        } else {
            $("#sname_error_message").html("Should contain only Characters");
            $("#sname_error_message").show();
            $("#form_sname").css("border-bottom", "2px solid #F90A0A");
            error_sname = true;
        }
    }

    

    function check_email() {
        var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        var email = $("#form_email").val();
        if (pattern.test(email) && email !== '') {
            $("#email_error_message").hide();
            $("#form_email").css("border-bottom", "2px solid #34F458");
        } else {
            $("#email_error_message").html("Invalid Email");
            $("#email_error_message").show();
            $("#form_email").css("border-bottom", "2px solid #F90A0A");
            error_email = true;
        }
    }
    function check_mob() {
        var pattern = /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
        var mob = $("#form_mob").val();
        if (pattern.test(mob) && mob !== '' && mob.length == 10) {
            $("#mob_error_message").hide();
            $("#form_mob").css("border-bottom", "2px solid #34F458");
        } else {
            $("#mob_error_message").html("Invalid Mobile NO");
            $("#mob_error_message").show();
            $("#form_mob").css("border-bottom", "2px solid #F90A0A");
            error_mobno = true;
        }
    }

    {{!-- function check_address() {
        var pattern = /^[a-z]([-']?[a-z]+)*( [a-z]([-']?[a-z]+)*)+$/;

        var sname = $("#address").val()
        if (pattern.test(sname) && sname !== '') {
            $("#address_error_message").hide();
            $("#address").css("border-bottom", "2px solid #34F458");
        } else {
            $("#address_error_message").html("Enter the full address");
            $("#address_error_message").show();
            $("#address").css("border-bottom", "2px solid #F90A0A");
            error_address = true;
        }
    } --}}

    $("#registration_form").submit(function () {
        error_fname = false;
        error_sname = false;
        error_email = false;
        error_mobno = false;
        error_address =false;

        
        check_fname();
        check_sname();
        check_email();
        check_mob();
        {{!-- check_address(); --}}
      

        if (error_fname === false && error_sname === false && error_email === false && error_mobno === false&&error_address===false) {

            return true;
        } else {
           swal("Oops!", "Please fill the Details!", "error");  
            return false;
        }


    });


</script>
    </div>
  </div>
</div>

