<div class="row my-5">
  <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="row glass-blur py-5">
        <section>
    <div class="container">
        <div class="row">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7" style="padding-left: 20%;">
                    <div class="shadow-2-strong card-registration" style="border-radius: 15px;margin-top: 10%;">
                        <div class="card-body p-4 p-md-5" style="padding-left: 20%;">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Change Password</h3>
                            {{#if passwordError}}
                            <p class="text-danger">{{passwordError}}</p>
                            {{/if}}
                            <form method="post" id="" action="/change-password">
                                <div class="row">
                                    <div class="col-md-12 mb-4 pb-2">
                                        <div class="form-outline">
                                            <span class="error_form" id="password_error_message"></span>
                                            <label class="form-label" for="emailAddress">Enter your Password</label>
                                            <input type="password" id="form_password" name="currentpassword"
                                                class="form-control-lg" style="font-size: 14px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4 pb-2">
                                        <div class="form-outline">
                                            <input type="text" name="userID" value="{{user._id}}" hidden> 
                                            <span class="error_form" id="retype_password_error_message"></span>
                                            <label class="form-label" for="phoneNumber">Enter New Password</label>
                                            <input type="password" id="form_retype_password" name="password"
                                                class="form-control-lg" style="font-size: 14px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4 pb-2">
                                        <div class="form-outline">
                                            <span class="error_form" id="retype_password_error_message"></span>
                                            <label class="form-label" for="phoneNumber">Confirm Password</label>
                                            <input type="password" id="form_retype_password" name="confirmpassword"
                                                class="form-control-lg" style="font-size: 14px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <input class="btn btn-warning" type="submit" value="submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

</script>

<style>
    body {
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .item {
        padding-top: 15px;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
</style>
    </div>
  </div>
</div>